<mat-dialog-content>
    <h1>{{ 'updateIntro' | translate }}</h1>
    <form [formGroup]="introForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label for="intro">{{ 'intro' | translate }}:</mat-label>
                <textarea matInput rows="7" cols="100" formControlName="intro"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="updatefail" class="error-message">
            {{updatefail}}
          </div><br>
        <div>
            <button mat-raised-button color="accent" (click)="updateIntro()">{{ 'addComment' | translate }}</button>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{ 'back' | translate }}</button>
  </mat-dialog-actions>
  
