<mat-dialog-content>
    <div>{{ 'followers' | translate }}</div>
    <div class="search-bar-container">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input id="search" type="text" placeholder="{{ 'search' | translate }}" [(ngModel)]="term">
    </div>
    <div *ngIf="followerUsers.length > 0; else noFollowing">
        <mat-list>
          <mat-list-item *ngFor="let user of followerUsers |filter: term">
            <a [routerLink]="['/profile', user.username]" (click)="dialogRef.close()" mat-line>{{ user.username }}</a>
            <button *ngIf="user.id === this.data.uid || this.data.own" mat-button (click)="delete(data.username, data.actualid)">{{ 'delete' | translate }}</button>
          </mat-list-item>
        </mat-list>
      </div>
      <ng-template #noFollowing>
        <p>{{ 'nofollowers' | translate }}</p>
      </ng-template>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{ 'back' | translate }}</button>
</mat-dialog-actions>
