mat-card{
  width: 80%;
  height: 80%;
  align-self: center;
}

mat-card-header{
  display: initial;
}

.custom-selected-option {
  color: plum; 
}

.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:left;
  height: 80%;
}

.main_component{
  height: 100vh;
}

.img-upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  width: 150px; 
  height: 150px;
  object-fit: cover; 
  margin: 5px;
}

.uploads{
  width: 150px;
  height: 150px;
}


