mat-card{
  width: 80%;
  height: 80%;
  align-self: center;
}

mat-card-header{
  display: initial;
}

.custom-selected-option {
  color: plum; 
}

.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.main_component{
  height: 100vh;
}

.img-upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  margin-bottom: 10px;
}


