<div class="main_component div-flex">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profil: </mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="user">
        <p><mat-icon>person</mat-icon>{{user.username }}</p>
        <p><mat-icon>email</mat-icon>{{user.email }}</p>
        <button mat-raised-button color="accent" type="button" [routerLink]="'/upload-image'">Kép feltöltés</button>

        <div class="image-container">
          <img class = "uploads" *ngFor="let image of imageList" [src]="image.url" alt="Image" (click)="openDialog(image.id,image.url)">
        </div>
    </mat-card-content>
  </mat-card>
</div>


