<div class="main_component div-flex">
    <mat-card>
        <mat-card-content>
            <form class="img-upload" [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                <div class="placeholder-div">
                    <img id="placeholder" [src]="imgSrc" width="250px" height="150px" (click)="fileUploader.click()">
                </div>
                <div class="form-group">
                    <input style="display: none;" type="file" class="form-control" accept="image/*" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
                    <button mat-raised-button color="primary" type="button" (click)="fileUploader.click()">{{ 'chooseFile' | translate }}</button>
                    <div class="text-required" *ngIf="isSubmitted && formControls.imageUrl.errors?.['required']">{{ 'requiredField' | translate }}</div>
                </div><br>
                <div class="form-group">
                <mat-form-field appearance="outline">
                    <input matInput class="form-control" formControlName="caption" placeholder="{{ 'caption' | translate }}">
                </mat-form-field>
                <div class="text-required" *ngIf="isSubmitted && formControls.caption.errors?.['required']">{{ 'requiredField' | translate }}</div>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                    <mat-select  class="category" formControlName="category">
                        <mat-option class="custom-selected-option" value="Animal">{{ 'animal' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Person">{{ 'human' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Nature">{{ 'nature' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Fantasy">{{ 'fantasy' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Object">{{ 'object' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Person">{{ 'abstract' | translate }}</mat-option>
                        <mat-option class="custom-selected-option" value="Else">{{ 'else' | translate }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-ro">
                    <div class="buttons">
                        <a style="display: none;" routerLink="/main" class="btn" #frontPage>Menj a főoldalra</a>
                        <button mat-raised-button color="accent" type="button" (click)="frontPage.click()">{{ 'mainPage' | translate }}</button>
                        <button mat-raised-button color="accent" type="submit" class="btn btn-success float-right">{{ 'upload' | translate }}</button>
                        
                    </div>
                    <button *ngIf="user?.username" mat-button [routerLink]="['/profile',user.username]">{{ 'back' | translate }}</button>
                </div>
            </form>
            
        </mat-card-content>
    </mat-card>
</div>

