<span class="load" *ngIf="loading">
  <mat-spinner></mat-spinner>
</span>

<h1>Bejelentkezés:</h1>
<div>
  <form [formGroup]="loginForm">

  <control-error class="error-message" controlName="email" />
  <mat-form-field><mat-label for="email"> Email-cím: </mat-label><br>
    <input matInput type="email" id="email" formControlName="email"></mat-form-field><br>
    <control-error class="error-message" controlName="psw" />
  <mat-form-field><mat-label for="psw">Jelszó: </mat-label><br>
    <input matInput type="password" id="psw" formControlName="psw"></mat-form-field><br><br>
  <div *ngIf="loginfail" class="error-message">
    {{loginfail}}
  </div><br>
  <span><button mat-raised-button color="accent" (click)="login()">Bejelentkezés</button></span>
  <span><button mat-raised-button color="primary" [routerLink]="'/registration'">Regisztráció</button></span>
</form>
</div>
<br>

