<mat-card>
<div class="searchsort-container">
  <div class="search-bar-container">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input id="search" type="text" placeholder="{{ 'search' | translate }}" [(ngModel)]="term">
  </div>
  <div>
    <mat-form-field class="sorting" appearance="outline">
      <mat-label>{{ 'sorting' | translate }}</mat-label>
      <mat-select matNativeControl required [(value)]="defaultorder">
        <mat-option *ngIf="user" value="default">{{ 'default' | translate }}</mat-option>
        <mat-option value="datenew">{{ 'datenew' | translate }}</mat-option>
        <mat-option value="dateold">{{ 'dateold' | translate }}</mat-option>
        <mat-option *ngIf="user && emptyList === false" value="following">{{ 'following' | translate }}</mat-option>
        <mat-option value="mostLikes">{{ 'mostLikes' | translate }}</mat-option>
        <mat-option value="leastLikes">{{ 'leastLikes' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
  <div class="image-container">
    <img class = "uploads" *ngFor="let image of imageList |orderFormat: defaultorder |filter: term" [src]="image.url" alt="Image" (click)="openDialog(image.id,image.url,image.name, image.date, image.caption, image.userId)" >
  </div>
</mat-card>
