mat-card{
  width: 60%;
  height: 90%;
  align-self: center;
}

.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:left;
  height: 80%;
}

.signup_component{
  height: 100vh;
}

.form-field {
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

mat-form-field{
  width: 400px;
}

form{
  display: inline-grid;
  align-self: center;

}

.subForm{
  display: inline-grid;
}

.button{
  padding: 5px;
}

span{
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.error-message{
  color: rgb(219, 80, 80);
}
